@use "/src/constants/colors" as *;

.wrapper {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-top: 20px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
