$black: #1a1a1a;
$white: #ffffffe6;
$gray: #424549;
$gray-dark: #292c31;
$background: #1e2125;
$gray-text: #ffffff99;
$pivot: #00aff4;
$green: #a3cf06;

$shadow:
  0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
