:root {
  --background: #1e2125;
  --background-secondary: #292c31;
  --background-secondary-hover: #424549;

  --border: #424549;

  --button-background: #1a1a1a;
  --button-background-hover: #424549;

  --flyout-background: #1a1a1a;

  --loader: #ffffff99;

  --checkbox: #008ac0;

  --text: #ffffff99;

  --price: #a3cf06;

  --error: #f44336;
}
