:root[data-theme="light"] {
  --background: #ffffffe6;
  --background-secondary: #f0f0f0;
  --background-secondary-hover: #e0e0e0;

  --border: #dcdcdc;

  --button-background: #c9cbcd;
  --button-background-hover: #d9d9d9;

  --flyout-background: #f7f7f7;

  --loader: #00000066;

  --checkbox: #007acc;

  --text: #333333;

  --price: #4caf50;
}
