.paginationContainer {
  display: flex;
  list-style-type: none;
}

.paginationItem {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: var(--text);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;

  &.dots:hover {
    background-color: transparent;
    cursor: default;
  }
  &:hover {
    background-color: var(--button-background-hover);
    cursor: pointer;
  }

  &.selected {
    background-color: var(--background-secondary);
  }

  .arrow {
    &::before {
      position: relative;
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      border-right: 2px solid var(--text);
      border-top: 2px solid var(--text);
    }

    &.left {
      transform: rotate(-135deg);
    }

    &.right {
      transform: rotate(45deg);
    }
  }

  &.disabled {
    pointer-events: none;

    .arrow::before {
      border-right: 2px solid var(--border);
      border-top: 2px solid var(--border);
    }

    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }
}
