@use "/src/constants/colors" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: $shadow;
  background-color: $gray-dark;
  color: $gray-text;
}

.thumb {
  align-self: center;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
