@import "./constants/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

:root {
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: $gray-text;
  background-color: $background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $gray-text;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: $gray;
}

button {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $black;
  color: $gray-text;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}
button:hover {
  background-color: $gray;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
